<section>
  <div>
    <h2>Contact</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
      consequatur doloribus quod cum blanditiis eos ex perspiciatis. Dolor nihil
      voluptatem, atque consectetur vero eos, dolorem natus fugiat itaque
      inventore alias?
      <br />
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      magnam sit vel omnis ipsam animi totam eligendi, voluptatem nesciunt rem
      quia non ex maxime, tempore recusandae minima quaerat placeat id.
    </p>
  </div>
</section>
