<section>
  <div>
    <h2>Work</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo aut
      incidunt, eos reprehenderit asperiores nemo voluptates necessitatibus
      debitis, neque quasi soluta doloribus corporis cum magnam voluptas
      temporibus voluptatem. Architecto, molestiae. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Delectus temporibus aut nostrum, sequi
      dolorem exercitationem autem.
      <br />
      Nobis culpa asperiores nesciunt, id eum blanditiis explicabo veniam
      excepturi officia reiciendis rerum.
    </p>
  </div>
</section>
