* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 50px;
}
section div {
  text-align: center;
  border-radius: 5px;
  width: 90vw;
  height: 60vh;
  box-shadow: #001a 0px 4px 12px;
  background-color: #1f2022;
}
section h2 {
  position: relative;
  bottom: 10px;
  color: blueviolet;
  font-size: 2.5rem;
  font-weight: bold;
}
section p {
  margin: 50px auto;
  font-size: 1.2rem;
  width: 700px;
  line-height: 1.5;
  color: #fff;
  font-weight: 200;
  word-wrap: break-word;
}
