h1 {
  font-size: 55px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 25px;
}
span {
  color: goldenrod;
}
h2 {
  font-size: 33px;
  margin: 15px;
  padding: 10px;
}
.container {
  display: flex;
  background: #e8e8e8;
  color: #333;
  padding: 20px;
  border-radius: 15px;
}
.subDiv1 {
  flex: 1;
  padding: 20px;
}
.subDiv2 {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ccc;
  font-size: 25px;
}
.subDiv2 > h2 {
  text-align: center;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 5px;
  margin: 0;
  background: #333;
  justify-content: center;
  border-radius: 15px;
}
li {
  text-align: center;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px; /* Adjust padding for inline items */
  font-size: 25px;
}
button {
  display: block;
  margin: 20px auto;
  padding: 5px 10px;
  font-size: 19px;
  background-color: dodgerblue;
  border: 0;
  outline: 0;
  border-radius: 5px;
}
