<section>
  <div>
    <h2>News</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. A assumenda
      excepturi illum, odio sapiente aliquam vero error fuga quibusdam doloribus
      non rerum ex hic asperiores nemo totam laboriosam dolore expedita!
      <br />
      <br />
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam
      similique totam doloremque consectetur in quod molestiae ab beatae tempore
      maxime, qui quibusdam mollitia facilis repellat aut neque quaerat animi
      tenetur.
    </p>
  </div>
</section>
